- name: Configure logind settings
  ansible.builtin.blockinfile:
    path: /etc/systemd/logind.conf
    create: true
    owner: root
    group: root
    mode: "0644"
    marker: "# MANAGED BY ANSIBLE {mark}"
    block: |
      HandlePowerKey=ignore
      HandlePowerKeyLongPress=poweroff
      HandleLidSwitch=suspend
      HandleLidSwitchExternalPower=suspend
- name: Reload systemd-logind with SIGHUP
  ansible.builtin.systemd:
    name: systemd-logind.service
    state: reloaded
    daemon_reload: true
