- name: Ensure build dependencies for AUR are installed
  community.general.pacman:
    name:
      - git
      - base-devel
    state: present
    update_cache: true
- name: Ensure paru-bin repo exists
  become: false
  ansible.builtin.git:
    repo: "https://aur.archlinux.org/paru-bin.git"
    dest: "/tmp/paru-bin"
    depth: 1
    update: true
    version: "{{ paru_install_repo_hash }}"
- name: Build paru package
  become: false
  ansible.builtin.command: "makepkg -sf --noconfirm"
  args:
    chdir: "/tmp/paru-bin"
  register: paru_install_makepkg_result
  changed_when: false
- name: Find built paru package
  ansible.builtin.find:
    paths: /tmp/paru-bin
    patterns: "paru-bin-*.pkg.tar.zst"
    file_type: file
  register: paru_install_pkg
- name: Fail if paru package was not built
  ansible.builtin.fail:
    msg: "Paru package not found in /tmp/paru-bin"
  when: paru_install_pkg.matched | default(0) | int == 0
- name: Set paru package path fact
  ansible.builtin.set_fact:
    paru_install_paru_pkg_path: "{{ paru_install_pkg.files[0].path }}"
  when: paru_install_pkg.matched | default(0) | int > 0
- name: Install built paru package via pacman
  community.general.pacman:
    name: "{{ paru_install_paru_pkg_path }}"
    state: present
