- name: Ensure base fonts directory exists
  become: false
  ansible.builtin.file:
    path: "{{ user_home }}/.local/share/fonts"
    state: directory
    mode: "0755"
- name: Checkout custom fonts repository
  become: false
  ansible.builtin.git:
    repo: "{{ fonts_repo_url }}"
    dest: "{{ user_home }}/.local/share/fonts/custom"
    version: "{{ fonts_repo_commit_hash }}"
    update: true
  register: font_install_fonts_custom_dir
  notify: Rebuild font cache
